.product-card-container {
    width: 304px;
    height: 638px;
    padding: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 30px;
    border: none;
}

.product-card-container .product-image {
    width: 304px;
    height: 380px;
    border-radius: 30px 30px 0 0
}

.product-card-container .product-image:hover {
    cursor: pointer;
}

.product-card-container .product-card-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    height: 138px;
}

.product-card-container .product-card-text .product-name {
    font-family: Monsterrat-600, serif;
    line-height: 31.68px;
    color: black;
    text-align: center;
    height: 64px;
}

.product-card-container .product-card-text .product-name:hover {
    cursor: pointer;
}

.product-card-container .product-card-text .product-description {
    color: #909398;
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    line-height: 23.04px;
    text-align: center;
}

.product-card-container .product-card-text .product-description:hover {
    cursor: pointer;
}
.product-card-container .product-card-text .product-price {
    font-family: Monsterrat-600, serif;
    font-size: 24px;
    line-height: 34.56px;
    color: black;
    text-align: center;
}

.product-card-container .button-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
}

.product-card-container .detailed-view-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -9999 !important;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px) opacity(0);
}

.product-card-container .detailed-view-container.open {
    z-index: 1000 !important;
    opacity: 1;
    transition: opacity 0.3s;
    backdrop-filter: blur(2px) opacity(1);
}

.product-card-container .detailed-view-container .detailed-view-card {
    position: relative;
    width: 1003px;
    height: 533px;
    background-color: black;
    border-radius: 42px;
    border: none;
    outline: none;
    gap: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-card-container .detailed-view-container .detailed-view-card .detailed-view-header {
    color: white;
    font-family: Unbounded-700, serif;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 24px;
}

.product-card-container .detailed-view-container .detailed-view-card .detailed-view-text-container {
    margin: 32px;
    display: flex;
    flex-direction: column;
}

.product-card-container .detailed-view-container .detailed-view-card .detailed-view-image {
    width: 426px;
    border-radius: 0 32px 32px 0;
    border: none;
}

.product-card-container .detailed-view-container .detailed-view-description-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
}

.detailed-view-description-container .detailed-view-brand-line {
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: white;
}

.detailed-view-description-container .detailed-view-brand-line-info {
    font-family: Monsterrat-600, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: #CFD5DB;
}

.product-card-container .detailed-view-container .detailed-button-container  {
    width: 296px;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 8px;
}

.product-card-container .detailed-view-container .detailed-view-text-container .detailed-button-container .detailed-buy-now-button {
    width: 148px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 24px;
    transition: background-color 0.5s;
}

.product-card-container .detailed-view-container .detailed-view-text-container .detailed-button-container .detailed-buy-now-button:hover {
    cursor: pointer;
    background-color: #E1E2E9;
    transition: background-color 0.5s;
}

.product-card-container .detailed-view-container .detailed-view-text-container .detailed-button-container .buy-now-text {
    font-family: Monsterrat-600, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: black;
}

.product-card-container .detailed-view-container .detailed-full-description {
    width: 460px !important;
    height: 266px !important;
    display: block;
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    line-height: 23.04px;
    color: #EAEBF0;
}

.product-card-container .detailed-view-container .thumb-y {
    position: relative;
    display: flex;
    background: #CFD5DB4D !important;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    width: 6px !important;
    z-index: 9999!important;
}

.product-card-container .detailed-view-container .track-y {
    right: -10px !important;
    top: 30px !important;
    height: calc(100% - 50px) !important;
    width: 20px !important;
    display: flex;
    justify-content: right;
}

.product-card-container .detailed-view-container .containerwrapper {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.product-card-container .detailed-view-container .containerwrapper.nogradient {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

.product-card-container .detailed-view-container .containerwrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
    height: 25px;
    width: 460px;
    pointer-events: none;
    z-index: 9999 !important;
}

.product-card-container .detailed-view-container .containerwrapper:after {
    content: '';
    position: absolute;
    top: -5px;
    background: linear-gradient(to top, transparent, black);
    height: 40px;
    width: 460px;
    pointer-events: none;
    z-index: 9999 !important;
}

.product-card-container .detailed-view-container .test:before {
    content: '';
    width: 100%;
    height: 16px;
    display: inline-block;
}

.product-card-container .detailed-view-container .test:after {
    content: '';
    width: 100%;
    height: 25px;
    display: inline-block;
}

.product-card-container .detailed-view-container .container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
