.menu-panel-container {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu-panel-container .home-link {
    font-family: Unbounded-400, serif;
    font-size: 29px;
    line-height: 35.81px;
    text-decoration: none;
    outline: none;
    color: black;
    z-index: 999 !important;
}

.menu-panel-container .home-link:hover {
    cursor: pointer;
}

.menu-panel-container .hookah-text {
    font-family: Unbounded-400, serif;
    font-size: 29px;
    line-height: 35.81px;
    user-select: none;
    pointer-events: none;
}

.menu-panel-container .link-text {
    font-family: Unbounded-300, serif;
    font-size: 25px;
    line-height: 31px;
}

.menu-panel-container .main-logo-cloud {
    width: 32px;
    height: 32px;
    user-select: none;
    pointer-events: none;
}

.menu-panel-container .main-logo-hookah {
    margin-top: 12px;
    width: 32px;
    height: 44px;
    user-select: none;
    pointer-events: none;
}

.menu-panel-container .main-logo-social {
    width: 32px;
    height: 32px;
}

.menu-panel-container .logo {
    height: 32px;
    margin-left: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 160px;
}

.menu-panel-container .links {
    height: 31px;
    width: 550px !important;
    display: flex;
    gap: 35px !important;
    align-self: center;
}

.menu-panel-container .socials {
    height: 32px;
    margin-right: 88px;
    width: 160px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
