.all-input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.all-input-wrapper .delivery-info {
    color: var(--main-black);
    font-family: Monsterrat-400, serif;
    font-size: 20px;
    font-style: normal;
    line-height: 144%;
}

.header {
    color: var(--main-black);
    font-family: Monsterrat-700, serif;
    font-size: 32px;
    font-style: normal;
    line-height: 144%;
}

.payment-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
}

.payment-info-wrapper .payment-line-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.payment-info-wrapper .payment-line-wrapper .static-info {
    color: var(--text-gray-secondary);
    font-family: Unbounded-400, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
}

.payment-info-wrapper .payment-line-wrapper .black-info {
    color: var(--main-black);
    font-family: Unbounded-400, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
}

.payment-info-wrapper .payment-line-wrapper .green-info {
    color: #7BECB6;
    font-family: Unbounded-400, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
}

.final-checkout-page-wrapper .order-item-container {
    width: 600px;
    height: 141px !important;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: relative;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container {
    width: 401px;
    height: 141px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container .order-item-header {
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container .order-item-price {
    color: var(--text-gray-secondary);
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container .order-item-old-price {
    color: var(--auxiliary-smoke-gray);
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    text-decoration: line-through;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container .total-item-amount {
    color: var(--main-black);
    text-align: right;
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container .total-item-old-amount {
    color: var(--text-gray-secondary);
    text-align: right;
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 144%;
    text-decoration: line-through;
}

.final-checkout-page-wrapper .total-item-amount-without-discount {
    color: var(--text-gray-secondary);
    font-family: Unbounded-400, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
    text-decoration: line-through;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
}

.final-checkout-page-wrapper .order-item-container .order-item-info-container .buttons-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 401px;
    height: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.final-checkout-page-wrapper-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-top: 58px;
    margin-bottom: 128px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    box-sizing: border-box;
}

.final-checkout-page-wrapper-mobile .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.final-checkout-page-wrapper-mobile .inputs-wrapper .header-mobile {
    margin-bottom: 8px;
    color: #000;

    /* Mobile/H1 */
    font-family: Monsterrat-700, serif;
    font-size: 24px;
    font-style: normal;
    line-height: 125%;
}

.final-checkout-page-wrapper-mobile .delivery-promo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.final-checkout-page-wrapper-mobile .delivery-promo-wrapper .promo-wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
}

.final-checkout-page-wrapper-mobile .delivery-info-mobile {
    color: #000;

    /* Mobile/Main text */
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 144%; /* 23.04px */
}

.final-checkout-page-wrapper-mobile .delivery-info-mobile a {
    color: var(--text-link, #005CCD);
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 144%;
    text-decoration-line: underline;
}

.final-checkout-page-wrapper .delivery-info a {
    color: var(--text-link, #005CCD);
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
    text-decoration-line: underline;
}

.final-checkout-page-wrapper-mobile .buttons-wrapper-final {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.final-checkout-page-wrapper-mobile .payment-info-wrapper-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.final-checkout-page-wrapper-mobile .payment-line-wrapper-mobile {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.final-checkout-page-wrapper-mobile .static-info-mobile {
    color: var(--text-gray-secondary, #909398);
    font-family: Unbounded-400, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 125%; /* 20px */
}

.final-checkout-page-wrapper-mobile .black-info-mobile {
    color: var(--main-black);
    font-family: Unbounded-400, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 125%; /* 20px */
}

.final-checkout-page-wrapper-mobile .green-info-mobile {
    color: #7BECB6;
    font-family: Unbounded-400, serif;
    font-size: 16px;
    line-height: 125%;
}

.final-checkout-page-wrapper-mobile .total-item-amount-without-discount-mobile {
    color: var(--text-gray-secondary);
    font-family: Unbounded-400, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 125%;
    text-decoration: line-through;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
}
