.last-product-warning-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: -9998 !important;
    opacity: 0;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px) opacity(0);
}

.last-product-warning-container.open {
    z-index: 9998 !important;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s;
    backdrop-filter: blur(2px) opacity(1);
}

.last-product-warning-container .last-product-warning-card {
    background-color: black;
    border-radius: 32px;
    padding: 32px;
    width: 530px;
    height: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.last-product-warning-container .last-product-warning-header {
    font-family: Unbounded-700, serif;
    font-size: 25px;
    line-height: 36px;
    text-decoration: none;
    outline: none;
    color: white;
    width: 100%;
    text-align: left;
}

.last-product-warning-container .last-product-info-text {
    color: #EAEBF0;
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 144%;
    width: 100%;
    text-align: left;
}
