.shop-container {
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1px;
}

.shop-container .tobacco-link {
    outline: none;
    text-decoration: none;
    text-underline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
