.floating-clouds-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 200px !important;
    height: 356px;
    width: 100%;
}

.bottom-floating-clouds-container {
    overflow: hidden;
    width: 2484px;
    height: 170px;
    display: flex;
    flex-direction: row;
    background: repeat-x;
}

.top-floating-clouds-container {
    overflow: hidden;
    width: 2484px;
    height: 170px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.bottom-floating-clouds-container .floating-clouds-image {
    animation: scrollAnimationBottom 120s linear infinite;
    background: repeat-x;
}

.top-floating-clouds-container .floating-clouds-image {
    animation: scrollAnimationTop 70s linear infinite;
    background: repeat-x;
}

@keyframes scrollAnimationBottom {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-2484px, 0, 0);
    }
}

@keyframes scrollAnimationTop {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-2484px, 0, 0);
    }
}
