.floating-clouds-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 800px !important;
    height: 356px;
    width: 1863px;
}

.bottom-floating-clouds-container {
    overflow: hidden;
    width: 1863px;
    height: 170px;
    display: flex;
    flex-direction: row;
}

.top-floating-clouds-container {
    overflow: hidden;
    width: 1863px;
    height: 170px;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.bottom-floating-clouds-container .floating-clouds-image {
    animation: scrollAnimationBottom 18s linear infinite;
    background: repeat-x;
}

.top-floating-clouds-container .floating-clouds-image {
    animation: scrollAnimationTop 10s linear infinite;
    background: repeat-x;
}

@keyframes scrollAnimationBottom {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-310.5px, 0);
    }
}

@keyframes scrollAnimationTop {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-310.5px, 0);
    }
}
