.news-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.news-section-container .button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.news-section-container .news-section-cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: unset;
    row-gap: 48px;
    column-gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.news-section-container .news-link {
    outline: none;
    text-decoration: none;
}
