.news-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.news-section-container .news-section-cards-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-section-container .news-link {
    outline: none;
    text-decoration: none;
}
