.shop-container {
    gap: 64px;
    display: flex;
    flex-direction: column;
}

.shop {
    max-width: 2544px;
    display: grid;
    grid-template-columns: repeat(auto-fill, max(304px, 100%/9));
    row-gap: 48px;
    column-gap: 16px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.shop-container .tobacco-link {
    outline: none;
    text-decoration: none;
    text-underline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
