.homepage-container {
    gap: 128px;
    margin: 32px 88px 112px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.homepage-container .clouds-and-text-container {
    display: flex;
    flex-direction: row;
    height: 324px;
    width: 100%;
}

.homepage-container .clouds-and-text-container .left-tricky-div {
    position: absolute;
    left: -88px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    z-index: 1 !important;
    height: 324px;
}

.homepage-container .partners-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-container .partners-header {
    font-family: Monsterrat-700, serif;
    font-size: 28px;
    line-height: 40.32px;
    color: black;
    display: flex;
    flex-direction: row;
}

.homepage-container .partners-header h2{
    font-family: Monsterrat-700, serif;
    font-size: 28px;
    line-height: 40.32px;
    color: black;
    margin: 0;
    padding: 0;
}
