.product-view-mobile-wrapper-img {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 9999;
}

.product-view-mobile-wrapper .product-header {
    color: var(--main-white, #FFF);
    font-family: Unbounded-600, serif;
    font-size: 19px;
    font-style: normal;
    line-height: 125%; /* 23.75px */
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

.product-view-mobile-wrapper .detailed-view-description-container-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.product-view-mobile-wrapper .detailed-view-brand-line-mobile {
    font-family: Monsterrat-600, serif;
    font-size: 16px;
    line-height: 144%;
    color: white;
}

.product-view-mobile-wrapper .detailed-view-brand-line-info-mobile {
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    line-height: 144%;
    color: #CFD5DB;
}

.product-view-mobile-wrapper .detailed-view-brand-line-info-mobile-base {
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    line-height: 144%;
    color: #CFD5DB;
    width: 120px;
}

.detailed-buy-now-button-mobile {
    width: calc(100% - 32px);
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.detailed-button-container .detailed-buy-now-button-mobile:active {
    cursor: pointer;
    background-color: #E1E2E9;
    transition: background-color 0.5s;
}

.product-view-mobile-wrapper .full-prod-descr-mob {
    color: var(--main-white, #FFF);
    text-overflow: ellipsis;

    /* Mobile/Main text */
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    line-height: 144%; /* 23.04px */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 12;
    align-self: stretch;
    box-sizing: border-box; /* Ensure padding is included in the height */
    margin-top: -16px;
}

.product-view-mobile-wrapper .full-prod-descr-mob::-webkit-scrollbar {
    display: none;
}

.product-view-mobile-wrapper .full-prod-descr-mob:after {
    content: '';
    width: 100%;
    height: 36px;
    display: inline-block;
}

.product-view-mobile-wrapper .full-prod-descr-mob:before{
    content: '';
    width: 100%;
    height: 14px;
    display: inline-block;
}

.product-view-mobile-wrapper .bottom-grad {
    content: '';
    position: absolute;
    bottom: 19px;
    background: linear-gradient(to bottom, transparent, black);
    height: 41px;
    width: 100%;
    display: flex;
    pointer-events: none;
    z-index: 9999 !important;
}

.product-view-mobile-wrapper .bottom-tricky-div {
    content: '';
    position: absolute;
    bottom: 0;
    background: black;
    height: 20px;
    width: 100%;
    display: flex;
    pointer-events: none;
    z-index: 9999 !important;
}

.product-view-mobile-wrapper .top-grad {
    content: '';
    position: absolute;
    bottom: -15px;
    background: linear-gradient(to top, transparent, black);
    height: 16px;
    width: 100%;
    display: flex;
    pointer-events: none;
    z-index: 9999 !important;
}

.img-wrpr-opened {
    opacity: 1;
    transition: opacity 0.2s;
}

.img-wrpr {
    opacity: 0;
    transition: opacity 0.2s ease 0.2s;
}
