.product-info-on-card .detailed-view-header {
    color: white;
    font-family: Unbounded-700, serif;
    font-size: 25px;
    line-height: 36px;
    margin-bottom: 24px;
}

.product-info-on-card .detailed-view-text-container {
    margin: 32px;
    display: flex;
    flex-direction: column;
}

.product-info-on-card .detailed-view-image {
    width: 426px;
    border-radius: 0 32px 32px 0;
    border: none;
}

.product-info-on-card .detailed-view-description-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 24px;
}

.product-info-on-card .detailed-view-description-container .detailed-view-brand-line {
    font-family: Monsterrat-600, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: white;
}

.product-info-on-card .detailed-view-description-container .detailed-view-brand-line-info {
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: #CFD5DB;
}

.product-info-on-card .detailed-button-container  {
    width: 360px;
    height: 48px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.product-info-on-card .product-price-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.product-info-on-card .product-price-wrapper .product-price-before-discount {
    text-decoration: line-through;
    font-family: Monsterrat-600, serif;
    font-size: 24px;
    line-height: 34.56px;
    color: #CFD5DB;
    text-align: center;
}

.product-info-on-card .detailed-buy-now-button {
    width: 148px;
    height: 48px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 24px;
    transition: background-color 0.5s;
}

.product-info-on-card .detailed-button-container .detailed-buy-now-button:hover {
    cursor: pointer;
    background-color: #E1E2E9;
    transition: background-color 0.5s;
}

.product-info-on-card .detailed-button-container .buy-now-text {
    font-family: Monsterrat-600, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: black;
}
