.news-page-container .news-grid-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-page-container .news-page-header {
    width: 100%;
    text-align: left;
    color: #000;
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
}

.news-page-container-mobile {
    display: flex;
    width: 100%;
    gap: 16px;
    flex-direction: column;
    margin-top: 58px;
    box-sizing: border-box;
    padding: 16px 16px 128px;
}

.news-page-container-mobile .news-page-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 24px;
}

.news-page-container-mobile .news-page-header-mobile {
    color: #000;
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 144%; /* 23.04px */
}
