.news-page-container {
    width: calc(100% - 176px);
}

.news-page-container .news-grid-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-page-container .news-page-header {
    width: 100%;
    text-align: left;
    color: #000;
    font-family: Monsterrat-500, serif;
    font-size: 22px;
    font-style: normal;
    line-height: 144%;
}
