.about-us-container {
    margin: 34px 88px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.about-us-container .main-text-and-logo-container {
    display: flex;
    flex-direction: row;
    gap: 128px;
    justify-content: space-between;
    width: 100%;
}

.about-us-container .main-text-container {
    color: var(--main-black);
    font-family: Monsterrat-400, serif;
    font-size: 20px;
    font-style: normal;
    line-height: 144%;
    max-width: 808px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-us-container .socials-container {
    width: 160px;
    gap: 32px;
    display: flex;
}

.about-us-container .about-header {
    color: var(--main-black);
    font-family: Monsterrat-700, serif;
    font-size: 32px;
    font-style: normal;
    line-height: 144%;
}

.about-us-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    box-sizing: border-box;
    padding: 16px 16px 128px;
    gap: 16px;
}

.about-header-mobile {
    color: #000;
    font-family: Monsterrat-700, serif;
    font-size: 24px;
    font-style: normal;
    line-height: 125%;
}

.about-us-container-mobile .about-us-text-mobile {
    color: #000;
    font-family: Monsterrat-500, serif;
    font-size: 16px;
    font-style: normal;
    line-height: 144%; /* 23.04px */
}

.about-us-container-mobile .about-socials {
    display: flex;
    flex-direction: row;
    gap: 36px;
    align-items: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
}
