.greetings-container {
    position: absolute;
    background-color: black;
    overflow: hidden;
    width: 786px;
    padding: 32px;
    height: calc(356px - 64px);
    border-radius: 32px;
    z-index: 2;
}

.greetings-container-mobile {
    background-color: var(--main-black);
    overflow: hidden !important;
    position: relative;
    width: calc(100% - 32px);
    padding: 24px 16px;
    border-radius: 16px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.greetings-container .greetings-header {
    font-family: Monsterrat-700, serif;
    font-size: 28px;
    line-height: 40.32px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.greetings-container-mobile .greetings-header-mobile {
    color: var(--main-white);
    font-family: Unbounded-600, serif;
    font-size: 19px;
    line-height: 125%;
    font-weight: normal;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
}

.greetings-container .greetings-header h2 {
    margin: 0;
    padding: 0;
    font-family: Monsterrat-700, serif;
    font-size: 28px;
    line-height: 40.32px;
    color: white;
    display: flex;
    flex-direction: row;
}

.greetings-container .header-buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: absolute;
    left: 32px;
    bottom: 32px;
}

.greetings-container .greetings-text {
    font-family: Monsterrat-400, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: white;
    font-weight: lighter;
    display: block;
    padding-block-start: 1em;
    padding-block-end: 1em;
    margin: 0;
}

.greetings-container .greetings-text:hover {
    cursor: pointer;
}

.greetings-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, transparent, black);
    height: 100%;
    width: 32px;
    pointer-events: none;
    z-index: 9999 !important;
}

.greetings-container:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to right, transparent, black);
    height: 100%;
    width: 32px;
    pointer-events: none;
    z-index: 9999 !important;
}

.greetings-container-mobile:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to left, transparent, black);
    height: 100%;
    width: 16px;
    pointer-events: none;
    z-index: 9999 !important;
}
