.footer {
    min-height: 292px;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 96px;
}

.footer .section {
    color: var(--main-white);
    width: 224px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.footer .section .header {
    color: var(--auxiliary-smoke-gray);
    font-family: Unbounded-400, serif;
    font-size: 18px;
    margin-bottom: 36px;
    line-height: 22.32px;
}

.footer .section .catalog-item-text {
    font-family: Unbounded-300, serif;
    color: var(--auxiliary-smoke-gray);
    font-size: 16px;
    margin-bottom: 8px;
    padding: 0;
    line-height: 22.32px;
}

.footer .section .delivery-info-text {
    padding: 0;
    margin: 0;
    font-family: Monsterrat-400, serif;
    font-weight: lighter;
    font-size: 12px;
    line-height: 17.04px;
    color: var(--auxiliary-light-gray);
}

.footer .delivery-link-text {
    padding: 0;
    margin: 0;
    font-family: Monsterrat-400, serif;
    font-weight: lighter;
    font-size: 12px;
    line-height: 17.04px;
    color: var(--auxiliary-light-gray);
}

.footer .delivery-link-text:hover {
    color: var(--main-white);
}

.footer .section .return-text {
    font-family: Monsterrat-400, serif;
    font-size: 12px;
    line-height: 17.04px;
    color: var(--auxiliary-light-gray);
}

.footer .section .return-paragraph {
    position: relative;
    padding: 0 0 0 15px;
    margin: 0;
    font-family: Monsterrat-400, serif;
    font-size: 12px;
    line-height: 17.04px;
    color: var(--auxiliary-light-gray);
}

.footer .section .return-paragraph::before {
    content: '\2022';
    position: absolute;
    left: 0;
    margin-left: 5px;
}

.footer .section .socials-wrapper {
    width: 160px;
    display: flex;
    justify-content: space-between;
}

.footer .section .footer-logo-social {
    width: 32px;
    height: 32px;
}
