.news-card-container {
    width: 400px;
    height: 592px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.news-card-container .news-image {
    width: 400px;
    height: 300px;
    border-radius: 24px 24px 0 0;
}

.news-card-container .news-image:hover {
    cursor: pointer;
}

.news-card-container .news-card-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.news-card-container .news-card-text-container .news-card-header {
    font-family: Monsterrat-600, serif;
    font-size: 22px;
    line-height: 31.68px;
    color: black;
}

.news-card-container .news-card-text-container .news-card-header:hover {
    cursor: pointer;
}

.news-card-container .news-card-text-container .news-card-description-line {
    color: #909398;
    font-family: Monsterrat-400, serif;
    font-size: 16px;
    line-height: 23.04px;
}

.news-card-container .read-more-button-container {
    position: absolute;
    bottom: 0;
    left: 0;
}
