.delivery-policy-container {
    margin: 34px 88px;
    width: 100%;
    max-width: 1264px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}

.delivery-policy-container .h1 {
    font-family: Monsterrat-700, serif;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0;
    text-align: left;
}

.delivery-policy-container .h2 {
    color: var(--main-black);;
    font-family: Unbounded-700, serif;
    font-size: 25px;
    font-style: normal;
    line-height: 144%;
}

.delivery-policy-container .common-text {
    color: var(--main-black);;
    font-family: Monsterrat-400, serif;
    font-size: 20px;
    font-style: normal;
    line-height: 144%;
}

.delivery-policy-container .blocks-wrapper {
    display: flex;
    width: 1264px;
    padding-top: 40px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 64px;
    flex-wrap: wrap;
}

.delivery-policy-container a {
    color: var(--text-link);
    font-family: Monsterrat-500, serif;
    font-size: 20px;
    line-height: 29px;
}

.delivery-policy-container a:hover {
    color: var(--text-link-hover);
}
